@model MyStorageSite.Models.Order
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />

    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.User)</td>
            <td>@Html.DisplayNameFor(model => model.Address)</td>
            <td>@Html.DisplayNameFor(model => model.contactPhone)</td>
            <td>@Html.DisplayNameFor(model => model.OrderData)</td>
            <td>@Html.DisplayNameFor(model => model.Products.ProductName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.User)</td>
            <td>@Html.DisplayFor(model => model.Address)</td>
            <td>@Html.DisplayFor(model => model.contactPhone)</td>
            <td>@Html.DisplayFor(model => model.OrderData)</td>
            <td>@Html.DisplayFor(model => model.Products.ProductName)</td>
        </tr>
    </table>
    
</div>
<div>
    <a class="btn btn-outline-dark" href="~/Order/EditOrder/@Model.Id">Edit</a>
    <a class="btn btn-outline-dark" href="~/Order/DeleteOrder/@Model.Id">Delete</a>
</div>
